@import "/fonts/Montserrat/Montserrat.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #0c0c0c;
  --color-primary-violet: #b21ddb;
  --card-bg: rgba(178, 29, 219, 0.05);
  --card-border: rgba(178, 29, 219, 0.2);
}

body {
  cursor: none;
  background-color: var(--color-bg);
  color: white;
  min-height: 100vh;
  scroll-behavior: smooth;
}
