@import "./assets/fonts/Montserrat/Montserrat.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #0c0c0c;
  --color-primary-violet: #b21ddb;
}

body {
  cursor: none;
  background-color: var(--color-bg);
  color: white;
  min-height: 100vh;
}
